.adicionar-banca-container {
    text-align: center;
    margin: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 30%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.divBtn {
    text-align: center;
}

button {
    background-color: #9e9e9ed2;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:#7e7e7ed2;
}

.btnVoltar {
    background-color: #9e9e9ed2;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btnVoltar:hover {
    background-color: #7e7e7ed2;
}
