.bancas-container {
    text-align: center;
    margin: 20px;
}

.bancas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.banca-card {
    background-color: #b6b6b698;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(156, 91, 91, 0.1);
    padding: 20px;
}

.banca-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.banca-card p {
    margin: 0;
}

.divBtns {
    padding-top: 20px;
    text-align: center;
}

.btnAlunos, .btnAdicionarBanca {
    margin-right: 10px;
    background-color:  #b6b6b6d2;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btnAlunos:hover, .btnAdicionarBanca:hover {
    background-color: #9e9e9ed2;
}