.header {
    background-color: rgb(233, 233, 233);
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-bottom: 70px;
}

.logo {
    width: 190px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu {
    background-color: rgb(233, 233, 233);
    text-align: right;
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 15px;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}


